* {
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}
#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 100px;
}
/* The header */
.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  background: #3367d6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logout {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  padding-left: 85%;
}

.note {
  color: #adadad;
  padding: 40px;
  margin: 20px;
  background: #fff;
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  font-size: 30px;
}

.note:hover {
  transform: scale(0.96);
}

.tab {
  position: absolute;
  left: 80%;
}

.btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
  line-height: 71px;
  font-size: 50px;
  font-weight: bold;
  color: #f1f1f1;
  background: #3367d6;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  transition: transform 0.8s ease-out;
}
.btn:hover {
  transform: scale(1.2);
}
/* Textinput */
.textInput {
  position: fixed;
  width: 50%;
  text-align-last: center;
  height: 50px;
  line-height: 80px;
  padding: 0 0px;
  outline: thick;
  border-radius: 20px;
  background: #2850a7;
  font-size: 22px;
  color: #f1f1f1;
}

::placeholder {
  color: #f1f1f1;
}

.animate {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.action-button {
  padding: 10px 40px;
  margin: 0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

.blue {
  background-color: #3367d6;
}

